html,body{
    height: 100%;
    margin: 0;
}
body{
    font-family: 'Secular One', sans-serif;
    background-color: rgb(231, 241, 243);
}


.bg{
    background-image: url("assets/Sketches.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 70%;
    height: 80%;
}

